<section
  id="eligibility"
  class="max-sm:px-4 max-lg:px-12 sm:pb-16 pt-24 pb-32 px-20 overflow-x-hidden"
>
  <p class="sm:text-4xl text-center text-2xl font-medium mb-4 text-white">
    Eligibility
  </p>
  <div class="p-2 grid grid-cols-1 lg:grid-cols-2 gap-x-12 items-center">
    <div class="flex-none max-lg:my-6 sm:pb-8 md:mx-8 sm:mt-0 sm:text-left">
      <p class="text-gray-300 leading-relaxed max-sm:text-start">
        The hackathon is open to all students located in Africa who are
        passionate about AI and eager to showcase their skills and creativity.
        To participate, you must meet the following eligibility requirements:
      </p>

      <div class="flex justify-center mt-6 mb-5">
        <button
          (click)="showIndividualCriteria()"
          [ngClass]="{
            ' border-[1.5px] border-gray-300 text-gray-500 cursor-not-allowed disabled': isIndividual,
            'bg-purple-700': !isIndividual
          }"
          class="inline-flex text-white border-0 max-sm:px-4 py-2 px-4 rounded-full focus:outline-none hover:drop-shadow-xl text-sm mr-4"
        >
          Individual
        </button>
        <button
          (click)="showTeamCriteria()"
          [ngClass]="{
            'border-[1.5px] border-gray-300 text-gray-500 cursor-not-allowed disabled': !isIndividual,
            'bg-purple-700': isIndividual
          }"
          class="inline-flex text-white border-0 max-sm:px-4 py-2 px-6 focus:outline-none hover:drop-shadow-xl rounded-full text-sm"
        >
          Team
        </button>
      </div>

      <div>
        <ul>
          <li *ngFor="let criterion of criteria; let i = index">
            <div class="flex items-start gap-x-3 py-2">
              <div class="flex-none w-8 h-8">
                <svg
                  *ngIf="criterion.answered === true"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-full h-full text-[#AC6AFF]"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                    clip-rule="evenodd"
                  />
                </svg>
                <svg
                  *ngIf="criterion.answered === false"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-full h-full text-red-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12 2.25a9.75 9.75 0 100 19.5 9.75 9.75 0 000-19.5zM9.47 9.47a.75.75 0 011.06-1.06l1.47 1.47 1.47-1.47a.75.75 0 011.06 1.06L12.53 12l1.47 1.47a.75.75 0 01-1.06 1.06l-1.47-1.47-1.47 1.47a.75.75 0 01-1.06-1.06L11.47 12 9.47 10.53z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <p
                *ngIf="i <= currentQuestionIndex"
                class="text-gray-300 leading-relaxed max-sm:text-start"
                [@fadeInOut]
              >
                {{ criterion.text }}
              </p>
            </div>
            <hr
              *ngIf="criterion.answered !== null"
              class="border-t border-white border-opacity-30 mb-2"
            />
          </li>
        </ul>

        <div
          *ngIf="
            !eligibilityConfirmed &&
            !ineligible &&
            currentQuestionIndex < criteria.length
          "
          class="flex justify-center"
        >
          <button
            (click)="answerYes()"
            class="inline-flex text-white border-0 bg-green-500 py-2 px-4 rounded-full focus:outline-none hover:drop-shadow-xl text-sm mr-4"
          >
            Yes
          </button>
          <button
            (click)="answerNo()"
            class="inline-flex text-white border-0 bg-red-500 py-2 px-4 rounded-full focus:outline-none hover:drop-shadow-xl text-sm"
          >
            No
          </button>
        </div>
      </div>

      <div *ngIf="eligibilityConfirmed" [@fadeInOut]>
        <p
          class="text-gray-300 leading-relaxed max-sm:text-start mt-6"
          *ngIf="eligibilityConfirmed"
        >
          You are eligible to participate!
        </p>
        <div *ngIf="eligibilityConfirmed" class="flex mt-12 justify-center">
          <button
            (click)="checkEligibility()"
            class="inline-flex transition-all cursor-pointer ease-out duration-400 bg-purple-700 hover:bg-purple-500 relative disabled:bg-gray-500 text-white border-0 max-sm:px-4 py-2 px-9 focus:outline-none hover:drop-shadow-xl rounded-full max-sm:text-sm text-lg group"
          >
            <span
              class="absolute right-0 w-6 h-12 -mt-2 text-white transition-all duration-1000 transform translate-x-17 sm:bg-transparent md:bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"
            ></span>
            Register Now
          </button>
        </div>
      </div>
      <div *ngIf="ineligible">
        <p
          class="text-gray-300 leading-relaxed max-sm:text-start mt-6"
          *ngIf="ineligible"
        >
          Sorry, you are not eligible to participate.
        </p>
        <button
          (click)="resetEligibility()"
          class="flex items-center transition-all cursor-pointer ease-out duration-400 bg-purple-700 hover:bg-purple-500 relative disabled:bg-gray-500 text-white border-0 max-sm:px-4 py-2 px-5 focus:outline-none hover:drop-shadow-xl rounded-full max-sm:text-sm text-lg group"
        >
        <!-- <span class="mr-3">Check again</span> -->
        <img src="assets/loopIcon.svg" class="w-8 h-8 " />
          
        </button>
      </div>
    </div>
    <img
      src="assets/chat%20image.png"
      class="flex-none max-md:hidden w-full object-cover object-center rounded-3xl"
      alt=""
    />
  </div>
</section>
