<section id="quarter" class="bg-black m-auto md:px-20 py-5 px-4 flex flex-col items-center text-center mb-16 sm:mx-0 sm:w-full">
  <p class="sm:text-4xl text-center text-2xl mb-12 font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text">
    Quarterfinals Summary
  </p>
  <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-white text-justify justify-between">
    The A2SV AI for Impact Hackathon attracted over 
    <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text"> 1,118 teams </strong>
    from across the continent, bringing together students and mentors from 
    <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">48 African countries. </strong>
    Participants collaborated on groundbreaking and meaningful projects, supported by 
    <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">47 mentors </strong>
     from top tech companies including 
     <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">Google, Meta, LinkedIn, TikTok, and Huawei.</strong> 
    The quarterfinals just concluded, showcasing innovative solutions and exceptional talent. This event not only fostered creativity and technical skills but also highlighted the potential for AI to drive impactful change across Africa.
    </p>
  <div class="flex my-10 md:mx-20 flex-col lg:flex-col w-full">
    <div class="flex-1">
      <div class="flex md:flex-row flex-col lg:w-3/4 mx-auto">
        <table class="border-separate border-spacing-2 border border-slate-500 w-full text-white mb:7 lg:mb-0 md:mr-5">
          <thead>
            <tr class="bg-gradient-to-r from-indigo-600 to to-pink-500">
              <th class="border border-slate-600 p-2">Metric</th>
              <th class="border border-slate-600 p-2">Count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-slate-700">Total Applicants</td>
              <td class="border border-slate-700">4,928</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Countries Represented</td>
              <td class="border border-slate-700">48</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Teams Formed</td>
              <td class="border border-slate-700">1,118</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Universities and Highschools Represented</td>
              <td class="border border-slate-700">620+</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Ideas Submitted</td>
              <td class="border border-slate-700">690+</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Mentors and Coordinators</td>
              <td class="border border-slate-700">86</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Teams Advancing to Quarterfinals</td>
              <td class="border border-slate-700">128</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Quarterfinalist Countries</td>
              <td class="border border-slate-700">23</td>
            </tr>
          </tbody>
        </table>

        <table class="border-separate border-spacing-2 border border-slate-500 w-full text-white mt-7 md:mt-0 table-fixed">
          <thead>
            <tr class="bg-gradient-to-r from-indigo-600 to to-pink-500">
              <th class="border border-slate-600 p-2 w-3/4">Category</th>
              <th class="border border-slate-600 p-2 w-1/4">Project</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-slate-700">Communication and Accessibility</td>
              <td class="border border-slate-700">15</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Education and Learning</td>
              <td class="border border-slate-700">17</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Agriculture and Farming</td>
              <td class="border border-slate-700">22</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Healthcare</td>
              <td class="border border-slate-700">25</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Environmental Monitoring and Conservation</td>
              <td class="border border-slate-700">5</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Data Analysis and Decision Making</td>
              <td class="border border-slate-700">8</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Personalized Assistance</td>
              <td class="border border-slate-700">9</td>
            </tr>
            <tr>
              <td class="border border-slate-700">AI Driven Artistry and Innovation</td>
              <td class="border border-slate-700">1</td>
            </tr>
            <tr>
              <td class="border border-slate-700">Legal</td>
              <td class="border border-slate-700">1</td>
            </tr>
            <tr>
              <td class="border border-slate-700">AI Solutions in Other Sectors</td>
              <td class="border border-slate-700">9</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
