<section id="prize2024"  class="flex fade min-h-screen py-24 max-sm:px-4  max-md:py-16   max-xl:px-12 px-32   flex-col justify-center">
    <p class="sm:text-[4rem] text-center text-4xl font-semibold  mb-4 text-white">$30K Prize</p>
    <div class="flex pb-16  items-center max-lg:flex-wrap max-sm:flex-col gap-x-12 gap-y-8 pt-12 justify-center">
      <div  class="max-lg:order-2">
        <app-prize-card [prize]="secondPrize"></app-prize-card>
      </div>
      <div  class="max-lg:order-1">
        <app-prize-card [prize]="firstPrize"></app-prize-card>
      </div>
      <div  class="max-lg:order-3">
        <app-prize-card [prize]="thirdPrize"></app-prize-card>
      </div>
    </div>


    <p class="sm:text-4xl text-center text-2xl font-medium  mb-4 text-white">Other Prize Tracks</p>
    <div class="grid grid-cols-2  pt-8 gap-4 max-lg:grid-cols-2 max-md:grid-cols-1 items-stretch">
      <app-track-card *ngFor="let track of tracks" [track]="track" ></app-track-card>
    </div>
  
    
  </section>
  