<section
  class="w-full flex flex-col justify-center items-center rounded-md pt-6"
>
  <p
    class="text-4xl w-full text-center font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text mt-5"
  >
    {{ title }}
</p>
  <div class="flex justify-center items-center mt-10 mb-8 ">
    
      <p
        class="lg:w-3/4 mx-auto leading-relaxed text-base text-white text-justify justify-between mb-6"
      >
       {{descr}}
      </p>
    
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-2">
    <div *ngFor="let winner of winners; let i = index" class="my-6">
      <div
      [class]="{
        'md:-translate-y-[15px]': i === 0,
        'md:-translate-y-[40px]': i === 1,
        'md:-translate-y-0': i === 2
      }"
        class="relative h-full grid grid-rows-auto-1fr rounded-lg my-10 md:my-0 text-gray-300 border-2 border-gray-800 group hover:bg-gray-700 hover:shadow-md hover:border transition duration-300 hover:border-solid transform hover:scale-105 hover:text-white"
      >
        <div
          class="absolute z-10 top-[-30px] -right-5 w-1/6 max-sm:w-1/6 rounded-full"
        >
          <img
            [src]="winner.awrd_img"
            class="h-full w-full object-cover rounded-full"
            alt="prize image"
            loading="lazy"
          />
        </div>

        <div class="w-full rounded-t-lg overflow-hidden p-2">
          <div class="h-[230px] rounded-t-lg mb-5">
            <img
              [src]="winner.img"
              alt="group image"
              class="object-cover w-full h-full rounded-t-lg"
              loading="lazy"
            />
          </div>
          <h2
            class="text-2xl px-4 mb-8 font-bold title-font text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text group-hover:text-white"
          >
            {{ winner.prize_type }}
          </h2>

          <div class="text-white text-justify justify-between px-4">
            <h2 class="title-font font-bold text-xl text-left mb-2">
              {{ winner.projectname }} by Team
              {{ winner.team }}
            </h2>
            <p class="leading-relaxed text-left mb-3 text-gray-300">
              {{ winner.description }}
            </p>
          </div>
        </div>

        <div *ngIf='buttonOn' class="flex justify-center items-end mb-5 mt-2">
          <button
            (click)="onMoreOptionsClick(winner)"
            class="px-4 py-2 border rounded-full hover:border-none hover:bg-purple-700 hover:text-white"
          >
            More
          </button>
        </div>
      </div>
    </div>
  </div>

</section>



