<div id="donate">
  <img
    src="https://res.cloudinary.com/eskalate/image/upload/v1723126290/gallery/great_graphics.png"
    alt="A2SVians group photo"
    class="h-[50vh] lg:h-[70vh] w-full object-cover mb-20"
  />
  <div class="container flex flex-col p-5 m-auto gap-20 text-white max-w-6xl">
    <div
      class="flex flex-col-reverse gap-10 justify-center items-center lg:flex-row"
    >
      <section class="sm:basis-1/2">
        <app-donation-card></app-donation-card>
      </section>
      <section class="sm:basis-1/2 items-center flex flex-col gap-4">
        <h2 class="!text-4xl !font-bold text-left w-full  ">Make a Donation</h2>
        <div
          class="flex flex-col gap-4 items-center xl:items-start md:max-lg:flex-row md:max-lg:gap-6"
        >
          <span>
            <p class="text-base">
              A2SV gives Africa’s brightest students the chance to shine in
              Silicon Valley, empowering them with skills to create change. Your
              donation helps remove obstacles, opening doors for these young
              innovators to uplift their communities and build a better future.
            </p>
            <p class="text-base">
              Your donations are vital in scaling our reach, enabling us to
              support more students across Africa. Each contribution helps us
              extend our educational programs, offering more young talents the
              resources they need to succeed and innovate in a global tech
              landscape.
            </p>
          </span>
          <img
            src="https://res.cloudinary.com/eskalate/image/upload/f_auto,q_auto/v1/gallery/donate_btn"
            alt="donation image"
            class="hidden md:block w-fit h-60 object-cover"
          />
        </div>
      </section>
    </div>
    <div>
      <h2 class="!text-4xl text-center !font-bold !mb-12">
        Why Your Support Matters
      </h2>
      <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-12">
        <div>
          <h3 class="!text-2xl !font-medium text-blue-600">
            Transform Education
          </h3>
          <p class="text-base">
            Traditional university programs often fall short, leaving graduates
            unprepared for the demands of the global market. Your donation helps
            bridge this gap by funding hands-on, practical learning experiences
            that equip students with the skills they need to succeed.
          </p>
        </div>
        <div>
          <h3 class="!text-2xl !font-medium text-blue-600">
            Empower Innvoation
          </h3>
          <p class="text-base">
            With your help, we can provide aspiring engineers with access to
            experienced mentors and the chance to work on large-scale projects,
            setting them on a path to create life-changing technologies.
          </p>
        </div>
        <div>
          <h3 class="!text-2xl !font-medium text-blue-600">
            Create Lasting Impact
          </h3>
          <p class="text-base">
            Our ambitious goals include educating over 500 students by 2025 and
            25,000 by 2030. We aim to bring 200 startups to market by 2030, each
            contributing to the local African digital economy.
          </p>
        </div>
      </div>
    </div>
    <div>
      <h2 class="!text-4xl text-center !font-bold !mb-12">
        Support Our Student's Growth
      </h2>
      <app-donate-card></app-donate-card>
    </div>

    <app-contact-us></app-contact-us>
  </div>
</div>
