<div
  id="landing"
  class="min-h-screen pt-[0px]  lg:pt-[0px] bg-blue-950 bg-opacity-60 relative"
>
  <video
    autoplay
    [muted]="isMuted"
    loop
    class="w-full h-full object-cover absolute z-0"
  >
  <!-- https://res.cloudinary.com/eskalate/video/upload/v1718713749/Hackathon_2023_Highlights.mp4 -->
    <source
      src="https://res.cloudinary.com/eskalate/video/upload/v1718713749/Hackathon_2023_Highlights.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <app-registration [comingName]="individualName" [showModal]="showIndividualRegistrationModal" [registrationLink]="indivisualRegistrationLink" (closeModalEvent)="onHideModal()"></app-registration>
  <app-registration [comingName]="teamName" [showModal]="showTeamRegistrationModal" [registrationLink]="teamRegistrationLink" (closeModalEvent)="onHideModal()"></app-registration>
  <app-mentors-registration [registrationLink]="mentorsRegistrationLink" [showModal]="showMentorsModal" (closeModalEvent)="onHideModal()"></app-mentors-registration>
  <app-advisors-registration [registrationLink]="advisorsRegistrationLink" [showModal]="showAdvisorsModal" (closeModalEvent)="onHideModal()" ></app-advisors-registration>

  <div
    class=" h-[100vh] lg:pt-[18vh] px:5 md:px-20 flex flex-col max-lg:justify-center justify-start   z-1  drop-shadow-2xl bg-black bg-opacity-60"
  >
    <div class="text-white px-5">
      <section
        class="left col-span-2 p-5 md:h-[76vh] flex flex-col  items-center md:items-start justify-start"
      >
        <div
          class="w-full flex flex-col max-md:items-center items-start leading-relaxed mb-2"
        >
          <!-- A2SV Hackathon, 2023 -->
          <p
            class=" text-left w-full max-md:text-center text-[36px] font-bold md:text-[46px] lg:text-[60px]"
          >
            A2SV Hackathon, 2024
          </p>
          <h1
            class="text-left w-full max-md:text-center text-xl mt-6 mb-10 md:text-2xl lg:text-3xl"
          >
            AI for Impact - Solving Africa's Challenges
          </h1>
        </div>

        <div class="flex flex-col  w-full justify-center">
        <h2 class="flex flex-col justify-center  md:items-start ">
          <app-count-down
            class="inline-block pl-0 max-md:text-center"
          ></app-count-down>
          <button
          onClick="document.getElementById('register_modal').showModal()"
          class="max-md:mt-5 text-2xl mt-5 rounded-full px-16 md:px-28 py-4 text-white transition-all cursor-pointer ease-out duration-400 bg-purple-700 hover:bg-purple-500 relative overflow-hidden group"
        >
          <span class="absolute inset-0 w-full h-full rounded-full bg-gradient-to-r from-purple-500 to-pink-500 opacity-50 blur-md animate-pulse"></span>
          <span class="absolute inset-0 w-full h-full rounded-full bg-gradient-to-r from-purple-500 to-pink-500 opacity-75 blur-lg"></span>
          <!-- <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-20 ease"></span>
          <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-30 bg-white opacity-10 rotate-12 group-hover:-translate-x-50 ease"></span>
          <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-18 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span> -->
          <span class="absolute right-0 w-8 h-32 -mt-12  transition-all duration-1000 transform translate-x-14 bg-white opacity-10 rotate-12 group-hover:-translate-x-80 ease"></span>
          <span class="relative text-white font-bold">Register Now</span>
        </button>
        </h2>

        <div
          class="max-md:mt-5 flex flex-col md:flex-row  max-md:items-center  justify-start"
        >
        
          <!-- <button
            onClick="document.getElementById('register_modal').showModal()" 
            class="text-sm rounded-full px-5 py-2.5 md:mr-3  relative  text-white transition-all cursor-pointer ease-out duration-300 bg-purple-700   hover:bg-purple-500 "
          >
            Register now
          </button> -->
          
  
            <button
            (click)="onShowMentorsModal()"
              class=" text-sm rounded-full px-5 py-2.5   text-white transition-all border border-1 cursor-pointer ease-out duration-300  hover:text-underline "
            >
            <span class="hover:text-pink-500">Be mentor/advisor</span>
             
            </button>
            <!-- <button
            (click)="shareImage()"
              class="max-md:mt-5 text-sm rounded-full px-5 py-2.5 md:mr-3 bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all cursor-pointer ease-out duration-300 lg:ml-5 {{
                activeButton === 'mentor'
                  ? 'bg-purple-500   '
                  : 'bg-purple-700  '
              }}"
            >
              Share
            </button> -->
            <!-- <share-button button="facebook" text="Share" showText /> -->
         
            <button
            (click)="onShowAdvisorsModal()"
              class="max-md:mt-5 text-sm rounded-full md:ml-3 px-6 py-2.5 text-white transition-all border border-1 cursor-pointer ease-out duration-300 lg:ml-5 left-1/2"
            >
              <span class="hover:text-pink-500">Partner with us</span>
            </button>
            
            
        
            <div
            (click)="scrollDown()"
            class="rounded-full max-md:hidden text-white border-2 p-2 animate-bounce z-40 cursor-pointer mx-auto absolute bottom-4 left-1/2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-8 h-8"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
        </div>
        
        </div>
        <!-- <app-share-btn class="border border-red-500">Share</app-share-btn> -->
      </section>
      <!-- <section class="right col-span-1 md:col-span-6  md:h-full md:px-5 mb-10 "> -->
      <!-- <p class="my-4 tracking-tight leading-a.5 text-justify justify-between">
          Join Africa’s largest Hackathon in 2024, focused on creating social
          and economic solutions with AI. This is the largest hackathon in
          Africa, connecting students, mentors, and industry leaders to develop
          and showcase technology skills in Africa. Participants will present
          projects using AI to solve big issues, competing in various categories
          for prizes and recognition.
        </p>
        <p class="text-left my-4 tracking-tight leading-a.5">
          Take this chance to contribute, collaborate, and make a real
          difference. Be part of moving AI forward in Africa.
        </p> -->
      <!-- <p></p> -->

      <!-- </section> -->
    </div>
    
   
    <!-- <div class="mx-[10] w-full overflow-hidden">
      <ngx-slick-carousel
        class="carousel h-full  flex overflow-hidden justify-center gap-x-12 "
        #slickModal="slick-carousel"
        [config]="slickConfig"
      >
        <div
          ngxSlickItem
          *ngFor="let image of images; index as i"
          class="slide mx-auto flex justify-center"
        >
          <div
            class="h-[250px] mx-5 bg-white rounded-xl overflow-hidden my-5 bg-gradient-to-br from-purple-500 to-pink-500 animate-gradient p-1"
          >
            <img [src]="image" class="w-full h-full object-cover rounded-xl" />
          </div>
        </div>
      </ngx-slick-carousel>
    </div> -->
    <dialog *ngIf="showRegistration2Modal" id="register_modal_after_eligibility" class="modal mt-4">
      <form method="dialog" class="modal-box w-11/12 max-sm:w-full max-sm:mx-2 max-w-5xl bg-gray-900">
        <section class="text-gray-400 bg-gray-900 body-font">
          <div class="container p-4 ">
            <div class="flex flex-wrap justify-center -m-4">
              <div class="p-4 lg:w-1/3">
                <div class="h-full flex flex-col justify-between bg-gray-800 bg-opacity-40 px-8 py-8 rounded-lg overflow-hidden relative">
                  <div>
                    <p class="leading-relaxed mb-3">Don't have a team yet? Register individually and we'll match you with other talented developers, designers, and problem solvers.</p>
                  </div>
                  <div class="flex  w-full flex-wrap space-y-4 justify-center items-end">
                    <a (click)="onRegisterIndividual()" class="rounded-full cursor-pointer modal-action px-5 py-2.5 overflow-hidden group bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all ease-out duration-300">
                      <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                      <span class="relative">Register Individually</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/3">
                <div class="h-full flex flex-col justify-between bg-gray-800 bg-opacity-40 px-8 py-8 rounded-lg overflow-hidden relative">
                  <div>
                    <p class="leading-relaxed mb-3">Already have a team? If you are the captain, register your team and start working on your project today.
                    </p>
                  </div>
                  <div class="flex w-full flex-wrap space-y-4 justify-center items-end modal-action">
                    <a (click)="onRegisterTeam()" class="rounded-full cursor-pointer px-5 py-2.5 overflow-hidden group bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all ease-out duration-300">
                      <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                      <span class="relative">Register as a Team</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="modal-action">
          <button class="btn" onClick="document.getElementById('register_modal_after_eligibility').close()" >Close</button>
        </div>
      </form>
     
    </dialog>

  
  </div>
 
  
</div>

