<div id="landing" class="min-h-screen pt-[0px] lg:pt-[0px] bg-blue-950 bg-opacity-50">
  <video autoplay [muted]="isMuted" loop class="w-full h-[100vh] object-cover absolute z-0">
    <source src="https://res.cloudinary.com/eskalate/video/upload/v1716272816/Hackathon/Hackathon_2023_Highlights_RAW_V1.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div
    class="h-[100vh] lg:pt-[18vh] px-20 flex flex-col justify-center items-center  z-1 relative drop-shadow-2xl bg-black bg-opacity-50"
  >
 
    <div class="grid grid-cols-2 md:grid-cols-12 text-white">
      <section class="left col-span-2 md:col-span-6  md:p-5 md:h-full flex flex-col items-center md:items-start justify-between ">
        <div
          class="w-full flex flex-col max-md:items-center items-start leading-relaxed mb-5"
        >
          <!-- A2SV Hackathon, 2023 -->
          <h1
            class="text-left w-full max-md:text-center text-xl font-bold md:text-3xl lg:text-5xl"
          >
            A2SV Hackathon, 2024
          </h1>
          <h1
            class="text-left w-full max-md:text-center text-xl mt-6  md:text-2xl lg:text-3xl"
          >
            AI for Impact - Solving Africa's Challenges
          </h1>
        </div>

        <h2><app-count-down class="inline-block pl-0 max-md:text-center"></app-count-down></h2>

         
          <div
          class="max-md:mt-8 flex flex-col md:flex-row justify-center max-md:items-center md:justify-start mt-3"
        >
        <a href="https://form.typeform.com/to/XoEqw6vQ" target="_blank">
          <button
            (click)="setActiveButton('signup', 'https://form.typeform.com/to/XoEqw6vQ')"
            class="text-sm rounded-full px-5 py-2.5 bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all cursor-pointer ease-out duration-300    hover:bg-purple-500     {{
              activeButton === 'signup'
                ? 'bg-purple-500   '
                : 'bg-purple-700  '
            }}"
          >
            Join waitlist
          </button>
        </a>
          <a href="https://form.typeform.com/to/ShJTk212" target="_blank">
            <button
              (click)="setActiveButton('mentor', 'https://form.typeform.com/to/ShJTk212')"
              class="max-md:mt-5 text-sm rounded-full px-5 py-2.5 bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all cursor-pointer ease-out duration-300 lg:ml-5 {{
                activeButton === 'mentor'
                  ? 'bg-purple-500   '
                  : 'bg-purple-700  '
              }}"
            >
              Be mentor/advisor
            </button>
          </a>
          <a href="https://form.typeform.com/to/opvWnrn7" target="_blank">
            <button
              (click)="setActiveButton('partner', 'https://form.typeform.com/to/opvWnrn7')"
              class="max-md:mt-5 text-sm rounded-full px-5 py-2.5 bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all cursor-pointer ease-out duration-300 lg:ml-5 {{
                activeButton === 'partner'
                  ? 'bg-purple-500   '
                  : 'bg-purple-700  '
              }}"
            >
              Partner with us
            </button>
          </a>
          
        </div>
          
      
        
      </section>
      <!-- <section class="right col-span-1 md:col-span-6  md:h-full md:px-5 mb-10 "> -->
        <!-- <p class="my-4 tracking-tight leading-a.5 text-justify justify-between">
          Join Africa’s largest Hackathon in 2024, focused on creating social
          and economic solutions with AI. This is the largest hackathon in
          Africa, connecting students, mentors, and industry leaders to develop
          and showcase technology skills in Africa. Participants will present
          projects using AI to solve big issues, competing in various categories
          for prizes and recognition.
        </p>
        <p class="text-left my-4 tracking-tight leading-a.5">
          Take this chance to contribute, collaborate, and make a real
          difference. Be part of moving AI forward in Africa.
        </p> -->
        <!-- <p></p> -->
        
        
        
      <!-- </section> -->
    </div>
    <!-- <div class="mx-[10] w-full overflow-hidden">
      <ngx-slick-carousel
        class="carousel h-full  flex overflow-hidden justify-center gap-x-12 "
        #slickModal="slick-carousel"
        [config]="slickConfig"
      >
        <div
          ngxSlickItem
          *ngFor="let image of images; index as i"
          class="slide mx-auto flex justify-center"
        >
          <div
            class="h-[250px] mx-5 bg-white rounded-xl overflow-hidden my-5 bg-gradient-to-br from-purple-500 to-pink-500 animate-gradient p-1"
          >
            <img [src]="image" class="w-full h-full object-cover rounded-xl" />
          </div>
        </div>
      </ngx-slick-carousel>
    </div> -->


   
  </div>
</div>
