<div id="about-us" class="relative z-30 pt-[50px]">
 
  <div id="about-a2sv" class="relative z-30">
    <app-about-us-section></app-about-us-section>
    <div
  (click)="scrollDown()"
  class="rounded-full max-md:hidden text-white border-2 p-2 animate-bounce  cursor-pointer mx-auto absolute bottom-4 left-1/2"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-8 h-8"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5"
    />
  </svg>
</div>
  
    
  </div>
  

  <div id="organizers" class="relative z-30">
    <app-organizers></app-organizers>
  </div>
 
  <div id="home" class="relative z-30">
    <app-home></app-home>
  </div>
  <div id="hacks2023" class="relative z-30">
    <app-info></app-info>
  </div>

  <div id="prizes" class="relative z-30">
    <app-prizes></app-prizes>
  </div>
  
  
  <!-- </div>
  <div id="judges" class="relative z-40">
    <app-judges></app-judges>
  </div> -->
  
  <div id="partners" class="relative z-30">
    <app-potential-partners></app-potential-partners>
  </div>
  
</div>
