<section
  id="highlights"
  class="min-h-screen px-3 md:px-5 w-full pt-[50px] relative flex flex-col justify-center items-center"
>
  <div class="max-w-[90vw] py-10 flex flex-col items-center mb-5">
    <p class="text-center text-2xl sm:text-4xl pb-6 font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text">
      Our Hackathon in the Media
    </p>
    <div class="bg-gradient-to-br from-purple-800 to-pink-600 text-white flex flex-col items-center p-4">
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-6xl">
        <div
          *ngFor="let media of mediaData"
          class="relative bg-gray-900 rounded-lg overflow-hidden shadow-lg transition transform hover:scale-105 hover:shadow-xl cursor-pointer"
          (click)="setActiveButton(media.url)"
        >
          <img
            [src]="media.thumbnail"
            alt="Thumbnail"
            class="h-48 w-full object-cover"
          />
          <div class="p-4">
            <div class="flex items-center justify-between mb-2">
              <div class="flex items-center">
                <img [src]="media.platformLogo" alt="Platform Logo" class="h-6 w-6 mr-2" />
                <span class="text-lg font-medium">{{ media.platform }}</span>
              </div>
              <div>
                <i *ngIf="media.place === 'YouTube'" class="fab fa-youtube h-6 w-6"></i>
                <i *ngIf="media.place === 'Facebook'" class="fab fa-facebook h-6 w-6"></i>
                <i *ngIf="media.place === 'Web'" class="fas fa-globe h-6 w-6"></i>
                <i *ngIf="media.place === 'TikTok'" class="fab fa-tiktok h-6 w-6"></i>
              </div>
            </div>
            <h2 class="text-lg font-bold mb-2">{{ media.title }}</h2>
            <p class="text-gray-400">{{ media.description }}</p>
          </div>
          <div
            class="absolute inset-0 bg-gradient-to-t from-gray-900 to-transparent opacity-0 hover:opacity-50"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
