<section
  id="be-asponsor"
  class="min-h-screen px-3 md:px-5 w-full pt-[50px] relative flex flex-col justify-center items-center"
>
  <div class="max-w-[90vw] py-10 flex flex-col items-center mb-5">
    <p class="text-center text-2xl sm:text-4xl pb-6 font-bold  text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text">
      Be a Sponsor
    </p>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-16 mb-5">
      <!-- Box 1 -->
      <div *ngFor="let workshop of workshops_lists">
        <div
          class="flex flex-col justify-between h-full items-center bg-[#272E3B] border border-gray-700 p-8 rounded-lg relative"
        >
          <div class="flex flex-col md:flex-row  items-start justify-center">
            <div
              class="w-[100px] h-[100px] max-md:mb-4 rounded-full transform-gpu hover:scale-105 hover:bg-gray-400"
            >
              <img
                alt="team"
                class="w-full h-full  object-cover object-center rounded-full"
                src="{{ workshop.src }}"
              />
            </div>
            <div class="md:ml-8 flex-1">
              <h2 class="!text-2xl !font-bold text-white">
                {{ workshop.title }}
              </h2>
              <h3 class="!text-xl !font-semibold text-white">
                {{ workshop.subtitle }}
              </h3>
              <p class="text-sm text-white/60">
                {{ workshop.description }}
              </p>
            </div>
          </div>
          <button
            (click)="setSponsorType(workshop.title, workshop.amount)"
            class="w-full mt-4 px-5 py-5 rounded-xl bg-white text-black"
          >
            Be a Sponsor
          </button>
        </div>
      </div>
    </div>

    <!-- <p
      class="sm:text-2xl mt-5 text-center text-xl font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text"
    >
      Other Sponsorship Packages
    </p>
    <div class="flex flex-row items-center my-5">
      <div
        class="flex items-center border border-gray-300 p-5 mr-5 rounded-lg relative"
      >
        <div class="ml-5 flex-1">
          <h1 class="text-2xl font-bold">Material1</h1>
          <p class="py-4 text-sm">
            Bronze description goes here. You can include as much detail as
            needed without worrying about space constraints.
          </p>
        </div>
      </div>
      <div
        class="flex items-center border border-gray-300 p-5 mr-5 rounded-lg relative"
      >
        <div class="ml-5 flex-1">
          <span class="flex flex-row">
            <svg
              class="w-6 h-6 text-purple-600 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M5.166 2.621v.858c-1.035.148-2.059.33-3.071.543a.75.75 0 00-.584.859 6.753 6.753 0 006.138 5.6 6.73 6.73 0 002.743 1.346A6.707 6.707 0 019.279 15H8.54c-1.036 0-1.875.84-1.875 1.875V19.5h-.75a2.25 2.25 0 00-2.25 2.25c0 .414.336.75.75.75h15a.75.75 0 00.75-.75 2.25 2.25 0 00-2.25-2.25h-.75v-2.625c0-1.036-.84-1.875-1.875-1.875h-.739a6.706 6.706 0 01-1.112-3.173 6.73 6.73 0 002.743-1.347 6.753 6.753 0 006.139-5.6.75.75 0 00-.585-.858 47.077 47.077 0 00-3.07-.543V2.62a.75.75 0 00-.658-.744 49.22 49.22 0 00-6.093-.377c-2.063 0-4.096.128-6.093.377a.75.75 0 00-.657.744zm0 2.629c0 1.196.312 2.32.857 3.294A5.266 5.266 0 013.16 5.337a45.6 45.6 0 012.006-.343v.256zm13.5 0v-.256c.674.1 1.343.214 2.006.343a5.265 5.265 0 01-2.863 3.207 6.72 6.72 0 00.857-3.294z"
                clip-rule="evenodd"
              />
            </svg>
            <h1 class="text-2xl ml-2 font-bold">Material2</h1>
          </span>
          <p class="py-4 text-sm">
            Bronze description goes here. You can include as much detail as
            needed without worrying about space constraints.
          </p>
        </div>
      </div>
      <div
        class="flex items-center border border-gray-300 p-5 mr-5 rounded-lg relative"
      >
        <div class="ml-5 flex-1">
          <h1 class="text-2xl font-bold">Material3</h1>
          <p class="py-4 text-sm">
            Bronze description goes here. You can include as much detail as
            needed without worrying about space constraints.
          </p>
        </div>
      </div>

    </div> -->
    <div id="submitSection" class="w-full md:w-3/4">
      <app-sponsor-contact
        [sponsorType]="selectedSponsorType"
        [amount]="selectedAmount"
      ></app-sponsor-contact>
    </div>
  </div>
</section>
